<h2>YOU CAN'T VIEW THIS!</h2>

<p>Please use your back button and try again.</p>

<% if @category.errors.any? %>
  <h3>
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
    Something is Broken :( 
  </h3>
  <ul>
    <% @category.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>