<h1>Manage Your Orders</h1>

<table>
<% @merchant_order_items.each do |order| %>
  <tr>
    <td><%= link_to "Order Item Number #{order.id} Order num #{order.order_id}", order_path(order.id) %></td>
    <td>

    </td>
    <td>

    </td>
  </tr>
  <% end %>
</table>
