<div class='container'>
	<ul>
		<li>
      Name: <%= @order.name_on_cc %>
    </li>
		<li>
      Address: <%= @order.address %>
    </li>
		<li>
      Email: <%= @order.email %>
    </li>
		<li>
      Credit Card Expiration: <%= @order.expiration_on_cc %>
    </li>
	</ul>
<div>
