// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fa-shopping-cart {
  font-size: 3rem; 
}
.fa-credit-card {
  font-size: 3rem; 
}
.fa-eye {
  font-size: 3rem; 
}