<<<<<<< 261b8b35f6a09dec189f0b3994520130baec0634
<ul>
	<% @products.each do |product| %>
		<li class="product">
      <%= link_to product.name, product_path(product.id) %> - <%= product.price_in_dollars %></li>
	<%end%>
</ul>

=======
<h1>Review this product</h1>
<%=link_to "review product" ,new_product_review_path(1)%> #hardcoded 1
>>>>>>> finished reviews for guest users
