<section class="product-details">
  <h1 class="product-name"><%= @product.name %></h1>

  <%# this is where the image goes. %>

  <p class="product-price">Price: <%= @product.price_in_dollars %></p>

  <p class="in-stock">Quantity: <%= @product.quantity %></p>
</section>

<section class="reviews">
  <h1 class="reviews-title">Reviews</h1>
  <p class="reviews-text">

    # This needs an instance variable of all the reviews, which will then be iterated to print them as paragraphs.

    # Then a link helper that goes to reviews post to write a new review as long as @current_user doesn't own this product in the system.

    <% if !current_user || current_user.id != @product.user_id %>
    
      <h1>Review this product</h1>
      <%=link_to "review product", new_product_review_path(@product.id)%>

    <% end %>