<h1>omfg ditzyyyy</h1>

<% if current_user %> 
  <%= current_user.email %>
  <%= link_to "Logout", logout_path, method: "delete" %> 
<% else %> 
  <%= link_to "Login", new_session_path %> 
  <%= link_to "Create An Account", new_user_path %> 
<% end %>